{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tales of Jaya</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">

</head>
<body>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <div class="footer-container">
            <div class="footer-content">
                <p>© 2025 Tales of Jaya</p>
                <p>Contact:</p>
                <div class="footer-icons">
                    <p><i class="fas fa-envelope"></i> : udum686@gmail.com</p>
                        
                    <a href="https://www.linkedin.com/in/sri-lakshmi-udumula-438b4525a/" target="_blank" title="LinkedIn">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>
    

    <script src="{% static 'js/parvam_list.js' %}"></script>
    <script src="{% static 'js/like.js' %}"></script>
 
</body>
</html>
