Django>=4.2
gunicorn
whitenoise
pillow
django-environ
djangorestframework
djangorestframework-cors-headers
django-ckeditor  # If using rich text for content
channels  # If using WebSockets
python==3.10
