{% extends 'base.html' %}

{% block content %}
<header>
    <h1>TALES OF JAYA</h1>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles1.css' %}">
</header>

<!-- About Home Section -->
<div class="about-home">
    <h2> </h2>
    <p>
        Tales of Jaya brings you the timeless stories of the Mahabharata, categorized by Parvams.
        Explore the legendary narratives, wisdom, and history of ancient India, beautifully organized
        for easy reading.
    </p>
</div>

<div class="parvam-grid">
    {% for parvam in parvams %}
        {% with forloop.counter as count %}
        <a href="{% url 'story_list' parvam.id %}" class="parvam-card">
            {% if count <= 18 %}
                <img src="{% static 'images/image' %}{{ count }}.jpg" alt="{{ parvam.name }}">
            {% else %}
                <div class="fallback-bg">{{ parvam.name|upper }}</div>
            {% endif %}
            <div class="overlay">{{ parvam.name }}</div>
        </a>
        {% endwith %}
    {% endfor %}
</div>

<!-- About Home Section -->


                  

<!-- Modal Structure -->
<div id="imageModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2 id="modalTitle"></h2>
        <p id="modalContent"></p>
    </div>
</div>


<script src="{% static 'js/parvam_list.js' %}"></script>

{% endblock %}

<!-- Include your modal script at the end of the body -->

