{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/story_list.css' %}">

<h2>STORIES IN {{ parvam.name }}</h2>
<div class="story-list">
    {% for story in stories %}
    <div class="story-card">
        <a href="{% url 'story_detail' story_slug=story.slug %}">

            <div class="image-container">
                <img src="{{ story.image.url }}" alt="{{ story.title }}">
                <div class="title-overlay">{{ story.title }}</div>
            </div>

        
        <!-- Like button outside anchor -->
    
</a>


<button class="like-button" data-story-id="{{ story.id }}">
    👍 <span id="like-count-{{ story.id }}">{{ story.likes }}</span>
</button>
    </div>
    {% endfor %}
</div>
<div class="back-button">
    <a href="{% url 'parvam_list' %}" class="back-button">← Back to Parvams</a>
</div>


{% endblock %}


